<div id="container" class="container">
    <h1>Reset Password</h1>
    <form id="resetPasswordForm" action="" method="post">
        <div class="control-input">
            <input id="input-password" class="input" name="password"  type="password" placeholder="New password..."/>
            <p class="error-message invisible"></p>
        </div>
        <div class="control-input">
            <input id="input-confirmPassword" class="input" name="confirmPassword"  type="confirmPassword" placeholder="Confirm new password"/>
            <p class="error-message invisible"></p>
        </div>
        <button id="btn-confirm" class="btn btn-primary" type="submit">Confirm</button>
    </form>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="/js/changePassword/index.js"></script>
