<div id="container" class="container">
    <h1>Logging</h1>
    <div class="control-input">
        <input id="input-email" class="input" name="email"  type="email" placeholder="Email..."/>
        <p class="error-message invisible"></p>
    </div>
    <div class="control-input">
        <input id="input-password" class="input" name="password"  type="password" placeholder="password"/>
        <p class="error-message invisible"></p>
    </div>
    <button id="btn-loggin" class="btn btn-primary" type="button">
        Log in
        <span id="btn-loading" class="spinner-border spinner-border-sm fade" role="status" aria-hidden="true"></span>
    </button>
    <div class="links-controller">
        <p class="link-text">Don't remember your password? <a target="_blank" href="/api/views/resetPassword">Reset password</a></p>
        <p class="link-text">Don't have an account? <a href="/api/views/signup">Sign up</a></p>
        <p class="link-text">Sign up with <a href="/api/session/github">GitHub</a></p>        
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="/js/logging/index.js"></script>
